<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>giercownia</title>

    <link rel="icon" type="image/png" href="/images/logo.png" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>

<body>
    <header>
        <h1>Giercownia</h1>
        <img class="header-logo" src="/images/logo.png" alt="Giercownia Logo">
    </header>

    <nav>
        <ul>
            <li><a href="/index.ejs">Strona główna</a></li>
            <li><a href="/pages/publisher/publisher-list.ejs">Wydawnictwa</a></li>
            <li><a href="/pages/creator/creator-list.ejs">Twórcy</a></li>
            <li><a href="/pages/game/game-list.ejs">Gry</a></li>
            <li><a href="/pages/collection/collection-list.ejs">Kolekcja</a></li>
        </ul>
    </nav>

    <main>
        <h2>Szczegóły twórcy</h2>

        <ul class="details-list">
            <li>
                <div class="details-list-key">
                    <span>Imię i Nazwisko:</span>
                </div>
                <div class="details-list-value">
                    <span>Isaac Childres</span>
                </div>
            </li>
            <li>
                <div class="details-list-key">
                    <span>Nick:</span>
                </div>
                <div class="details-list-value">
                    <span>Cephalofair</span>
                </div>
            </li>
            <li>
                <div class="details-list-key">
                    <span>Bio:</span>
                </div>
                <div class="details-list-multiple-value">
                    <span>Isaac Childres jest projektantem gier i jednoosobową armią zajmującą się projektowaniem i
                        rozwojem gier planszowych. Childres ukończył Bakersfield High School w Bakersfield w Kalifornii
                        w 2000 roku. Studiował fizykę i dziennikarstwo na Uniwersytecie Oklahomy, a następnie uzyskał
                        tytuł magistra i doktora fizyki na Uniwersytecie Purdue. Mieszkał w Lafayette w stanie Indiana,
                        gdzie mieści się Uniwersytet Purdue. Najbardziej znany jest z projektowania Gloomhaven, ale
                        zaprojektował także Forge War, Founders of Gloomhaven i inne tytuły.</span>
                </div>
            </li>
        </ul>

        <div class="details-buttons">
            <a href="/pages/creator/creator-edit.ejs" class="form-button-edit">Edytuj</a>
            <a href="/index.ejs" class="form-button-return">Powrót</a>
        </div>
    </main>

    <footer>
        <a href="https://www.linkedin.com/in/lukasz-bielinski/">Łukasz Bieliński</a> s17524
    </footer>
</body>

</html>