<%- include('../../fragments/header.ejs') %>

<main>
    <h2>Szczegóły nowego wydawnictwa</h2>

    <form class="form">
        <label for="name">Nazwa:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="name" id="name">

        <label for="nick">Nick:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="nick" id="nick">

        <label for="headquarters">Siedziba:</label>
        <input type="text" name="headquarters" id="headquarters">

        <div class="form-buttons">
            <input type="submit" value="Dodaj" class="form-button-submit" />
            <a href="/index.ejs" class="form-button-cancel">Anuluj</a>
        </div>
    </form>
</main>

<%- include('../../fragments/footer.ejs') %>