<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>giercownia</title>

    <link rel="icon" type="image/png" href="/images/logo.png" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <header>
        <h1>Giercownia</h1>
        <img class="header-logo" src="/images/logo.png" alt="Giercownia Logo">
    </header>

    <nav>
        <ul>
            <li><a href="/index.ejs">Strona główna</a></li>
            <li><a href="/pages/publisher/publisher-list.ejs">Wydawnictwa</a></li>
            <li><a href="/pages/creator/creator-list.ejs">Twórcy</a></li>
            <li><a href="/pages/game/game-list.ejs">Gry</a></li>
            <li><a href="/pages/collection/collection-list.ejs">Kolekcja</a></li>
        </ul>
    </nav>

    <main>
        <h2>Oceń grę</h2>

        <form class="form">
            <label for="gameName">Nazwa:</label>
            <input type="text" name="gameName" id="gameName" value="Gloomhaven" disabled>

            <label for="score">Ocena:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="number" name="score" id="score" min="1" max="10" step="1" value="9">

            <label for="comment">Opinia:</label>
            <textarea name="comment" id="comment" cols="30" rows="8"></textarea>

            <div class="form-buttons">
                <input type="submit" value="Oceń" class="form-button-submit" />
                <a href="/index.ejs" class="form-button-cancel">Anuluj</a>
            </div>
        </form>
    </main>

    <footer>
        <a href="https://www.linkedin.com/in/lukasz-bielinski/">Łukasz Bieliński</a> s17524
    </footer>
</body>

</html>