<%- include('../../fragments/header.ejs') %>

<main>
    <h2>Szczegóły gry</h2>

    <ul class="details-list">
        <li>
            <div class="details-list-key">
                <span>Nazwa:</span>
            </div>
            <div class="details-list-value">
                <a href="">Gloomhaven</a>
            </div>
        </li>
        <li>
            <div class="details-list-key">
                <span>Rok wydania:</span>
            </div>
            <div class="details-list-value">
                <span>2017</span>
            </div>
        </li>
        <li>
            <div class="details-list-key">
                <span>Gatunek:</span>
            </div>
            <div class="details-list-value">
                <span>Strategiczna</span>
            </div>
        </li>
        <li>
            <div class="details-list-key">
                <span>Wiek:</span>
            </div>
            <div class="details-list-value">
                <span>14+</span>
            </div>
        </li>
        <li>
            <div class="details-list-key">
                <span>Ilość graczy:</span>
            </div>
            <div class="details-list-value">
                <span>1 - 4</span>
            </div>
        </li>
        <li>
            <div class="details-list-key">
                <span>Czas gry:</span>
            </div>
            <div class="details-list-value">
                <span>60 - 120 min</span>
            </div>
        </li>
        <li>
            <div class="details-list-key">
                <span>Mechanizm:</span>
            </div>
            <div class="details-list-value">
                <span>Legacy</span>
            </div>
        </li>
        <li>
            <div class="details-list-key">
                <span>Wydawca:</span>
            </div>
            <div class="details-list-multiple-value">
                <ul>
                    <li>
                        <a href="/pages/publisher/publisher-details.ejs">Albi</a>
                    </li>
                    <li>
                        <a href="/pages/publisher/sample/publisher-details-2.html">Albi Polska</a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="details-list-key">
                <span>Projektant:</span>
            </div>
            <div class="details-list-value">
                <span><a href="/pages/creator/creator-details.ejs">Isaac Childres</a></span>
            </div>
        </li>
        <li>
            <div class="details-list-key">
                <span>Artysta:</span>
            </div>
            <div class="details-list-value">
                <span><a href="/pages/creator/sample/creator-details-3.html">Alexandr Elichev</a></span>
            </div>
        </li>
    </ul>

    <div class="details-buttons">
        <a href="/pages/game/edit.ejs" class="form-button-edit">Edytuj</a>
        <a href="/pages/game/game-score.ejs" class="form-button-score">Oceń</a>
        <a href="/index.ejs" class="form-button-return">Powrót</a>
    </div>
</main>

<%- include('../../fragments/footer.ejs') %>