<%- include('../../fragments/header.ejs') %>

<main>
    <h2>Szczegóły gry</h2>

    <form class="form">
        <label for="gameName">Nazwa:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="gameName" id="gameName" value="Gloomhaven">

        <label for="yearReleased">Rok wydania:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="number" name="yearReleased" id="yearReleased" min="-10000" max="2030" step="1" value="2017">

        <label for="gameCategory">Gatunek:<abbr title="required" aria-label="required">*</abbr></label>
        <select id="gameCategory" name="gameCategory">
            <option disabled value> -- wybierz -- </option>
            <option selected>Strategiczna</option>
            <option>Wojenna</option>
        </select>

        <label for="minAge">Min wiek:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="number" name="minAge" id="minAge" min="0" max="24" step="1" value="14">

        <label for="minPlayersNum">Min ilość graczy:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="number" name="minPlayersNum" id="minPlayersNum" min="1" max="100000" step="1" value="1">

        <label for="maxPlayersNum">Max ilość graczy:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="number" name="maxPlayersNum" id="maxPlayersNum" min="1" max="100000" step="1" value="4">

        <label for="minPlayingTime">Min czas gry [min]:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="number" name="minPlayingTime" id="minPlayingTime" min="1" max="100000" step="1" value="60">

        <label for="maxPlayingTime">Max czas gry [min]:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="number" name="maxPlayingTime" id="maxPlayingTime" min="1" max="100000" step="1" value="120">

        <!-- <label for="gameMechanism">Mechanizm:</label>
        <select id="gameMechanism" name="gameMechanism">
            <option disabled value> -- wybierz -- </option>
            <option>Aukcje</option>
            <option selected>Legacy</option>
            <option>Kooperacja</option>
            <option>Punkty akcji</option>
            <option>Rozwiązywanie konfliktów</option>
            <option>Sojusze</option>
            <option>Inny</option>
        </select> -->

        <label class="multiple-select-3-line-size" for="gamePublisher">Wydawca:<abbr title="required"
                aria-label="required">*</abbr></label>
        <select id="gamePublisher" name="gamePublisher" multiple size="3">
            <option selected>Albi</option>
            <option selected>Albi Polska</option>
            <option>Angry Lion Games</option>
            <option>Ares Games</option>
            <option>Asterion Press</option>
            <option>Devir</option>
            <option>Jolly Thinkers</option>
            <option>Lacerta</option>
            <!-- Rozbudować -->
        </select>

        <label for="gameDesigner">Projektant:</label>
        <input class="input-list" list="gameCreatorList" id="gameDesigner" value="Isaac Childres">

        <label for="gameArtist">Artysta:</label>
        <input class="input-list" list="gameCreatorList" id="gameArtist" value="Alexandr Elichev">

        <datalist id="gameCreatorList">
            <option value="Isaac Childres"></option>
            <option value="Roberto Di Meglio"></option>
            <option value="Alexandr Elichev"></option>
            <option value="Matt Leacock"></option>
            <option value="Fabio Maiorana"></option>
            <option value="Chris Quilliams"></option>
            <!-- Rozbudować -->
        </datalist>

        <div class="form-buttons">
            <input type="submit" value="Zapisz" class="form-button-submit" />
            <a href="/game/list" class="form-button-cancel">Anuluj</a>
        </div>
    </form>
</main>

<%- include('../../fragments/footer.ejs') %>