<%- include('../../fragments/header.ejs') %>

<main>
    <h2>Oceń grę</h2>

    <form class="form">
        <label for="gameName">Nazwa:</label>
        <input type="text" name="gameName" id="gameName" value="Gloomhaven" disabled>

        <label for="score">Ocena:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="number" name="score" id="score" min="1" max="10" step="1" value="9">

        <label for="comment">Opinia:</label>
        <textarea name="comment" id="comment" cols="30" rows="8"></textarea>

        <div class="form-buttons">
            <input type="submit" value="Oceń" class="form-button-submit" />
            <a href="/index.ejs" class="form-button-cancel">Anuluj</a>
        </div>
    </form>
</main>

<%- include('../../fragments/footer.ejs') %>