<%- include('../../fragments/header.ejs') %>

<main>
    <h2>Oceny gry Gloomhaven</h2>

    <div class="table-div">
        <table class="table-list">
            <thead>
                <tr>
                    <th scope="col">Nick</th>
                    <th scope="col">Ocena</th>
                    <th scope="col">Opinia</th>
                    <th scope="col">Akcje</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="Nick">Bielak</td>
                    <td data-label="Ocena" class="td-center">9</td>
                    <td data-label="Opinia"></td>
                    <td data-label="Akcje">
                        <ul class="list-actions">
                            <li>
                                <a href="/pages/game/game-score.ejs" class="list-actions-button-edit">Edytuj</a>
                            </li>
                            <li>
                                <a href="/under-construction.ejs" class="list-actions-button-delete">Usuń</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td data-label="Nick">Crag</td>
                    <td data-label="Ocena" class="td-center">10</td>
                    <td data-label="Opinia">Polecam!</td>
                    <td data-label="Akcje">
                        <ul class="list-actions">
                            <li>
                                <a href="/under-construction.ejs" class="list-actions-button-edit">Edytuj</a>
                            </li>
                            <li>
                                <a href="/under-construction.ejs" class="list-actions-button-delete">Usuń</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td data-label="Nick">Progamer</td>
                    <td data-label="Ocena" class="td-center">9</td>
                    <td data-label="Opinia">Ta gra jest świetna. Gloomhaven to ciekawa łamigłówka
                        taktyczna.</td>
                    <td data-label="Akcje">
                        <ul class="list-actions">
                            <li>
                                <a href="/under-construction.ejs" class="list-actions-button-edit">Edytuj</a>
                            </li>
                            <li>
                                <a href="/under-construction.ejs" class="list-actions-button-delete">Usuń</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>

<%- include('../../fragments/footer.ejs') %>