<%- include('../../fragments/header.ejs') %>

<main>
    <h2>Lista gier</h2>

    <div class="table-div">
        <table class="table-list">
            <thead>
                <tr>
                    <th scope="col">Tytuł</th>
                    <th scope="col">Twoja ocena</th>
                    <th scope="col">Średnia ocena</th>
                    <th scope="col">Ilość ocen</th>
                    <th scope="col">Status</th>
                    <th scope="col">Akcje</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="Tytuł">Gloomhaven</td>
                    <td data-label="Twoja ocena" class="td-center">9</td>
                    <td data-label="Średnia ocena" class="td-center"><a class="link-line"
                            href="/pages/game/game-score-list.ejs">9.333</a></td>
                    <td data-label="Ilość ocen" class="td-center">3</td>
                    <td data-label="Status" class="td-center">Posiadana</td>
                    <td data-label="Akcje">
                        <ul class="list-actions">
                            <li>
                                <a href="/pages/game/details.ejs" class="list-actions-button-details">Szczegóły</a>
                            </li>
                            <li>
                                <a href="/pages/game/game-score.ejs" class="list-actions-button-score">Oceń</a>
                            </li>
                            <li>
                                <a href="/pages/game/edit.ejs" class="list-actions-button-edit">Edytuj</a>
                            </li>
                            <li>
                                <a href="/under-construction.ejs" class="list-actions-button-delete">Usuń</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td data-label="Tytuł">Pandemic Legacy: Season 1</td>
                    <td data-label="Twoja ocena" class="td-center">N/A</td>
                    <td data-label="Średnia ocena" class="td-center"><a class="link-line"
                            href="/pages/game/sample/game-score-list-2.html">9.000</a></td>
                    <td data-label="Ilość ocen" class="td-center">1</td>
                    <td data-label="Status" class="td-center"></td>
                    <td data-label="Akcje">
                        <ul class="list-actions">
                            <li>
                                <a href="/pages/game/sample/game-details-2.html"
                                    class="list-actions-button-details">Szczegóły</a>
                            </li>
                            <li>
                                <a href="/pages/game/sample/game-score-2.html"
                                    class="list-actions-button-score">Oceń</a>
                            </li>
                            <li>
                                <a href="/pages/game/sample/game-edit-2.html"
                                    class="list-actions-button-edit">Edytuj</a>
                            </li>
                            <li>
                                <a href="/under-construction.ejs" class="list-actions-button-delete">Usuń</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td data-label="Tytuł">War of the Ring: Second Edition</td>
                    <td data-label="Twoja ocena" class="td-center">10</td>
                    <td data-label="Średnia ocena" class="td-center"><a class="link-line"
                            href="/pages/game/sample/game-score-list-3.html">8.500</a></td>
                    <td data-label="Ilość ocen" class="td-center">2</td>
                    <td data-label="Status" class="td-center"></td>
                    <td data-label="Akcje">
                        <ul class="list-actions">
                            <li>
                                <a href="/pages/game/sample/game-details-3.html"
                                    class="list-actions-button-details">Szczegóły</a>
                            </li>
                            <li>
                                <a href="/pages/game/sample/game-score-3.html"
                                    class="list-actions-button-score">Oceń</a>
                            </li>
                            <li>
                                <a href="/pages/game/sample/game-edit-3.html"
                                    class="list-actions-button-edit">Edytuj</a>
                            </li>
                            <li>
                                <a href="/under-construction.ejs" class="list-actions-button-delete">Usuń</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <p><a href="/game/add" class="button-add">Dodaj nową grę</a></p>
</main>

<%- include('../../fragments/footer.ejs') %>