<%- include('../../fragments/header.ejs') %>

<main>
    <h2>Lista gier w kolekcji</h2>

    <form class="mini-form">
        <label for="game">Nazwa:</label>
        <input class="input-list" list="gameList" id="game">
        <datalist id="gameList">
            <option value="Gloomhaven"></option>
            <option value="Pandemic Legacy: Season 1"></option>
            <option value="War of the Ring: Second Edition"></option>
            <!-- Rozbudować -->
        </datalist>

        <div class="mini-form-buttons">
            <input type="submit" value="Dodaj grę do kolekcj" class="mini-form-button-submit" />
        </div>
    </form>

    <div class="table-div">
        <table class="table-list">
            <thead>
                <tr>
                    <th scope="col">Tytuł</th>
                    <th scope="col">Twoja ocena</th>
                    <th scope="col">Średnia ocena</th>
                    <th scope="col">Ilość ocen</th>
                    <th scope="col">Akcje</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="Tytuł">Gloomhaven</td>
                    <td data-label="Twoja ocena" class="td-center">9</td>
                    <td data-label="Średnia ocena" class="td-center"><a class="link-line"
                            href="/game/1/rating">9.333</a>
                    </td>
                    <td data-label="Ilość ocen" class="td-center">3</td>
                    <td data-label="Akcje">
                        <ul class="list-actions">
                            <li>
                                <a href="/game/1" class="list-actions-button-details">Szczegóły</a>
                            </li>
                            <li>
                                <a href="/game/1/rate" class="list-actions-button-score">Oceń</a>
                            </li>
                            <li>
                                <a href="/collection" class="list-actions-button-delete">Usuń</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>

<%- include('../../fragments/footer.ejs') %>