<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>giercownia</title>

    <link rel="icon" type="image/png" href="/images/logo.png" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>

<body>
    <header>
        <h1>Giercownia</h1>
        <img class="header-logo" src="/images/logo.png" alt="Giercownia Logo">
    </header>

    <nav>
        <ul>
            <li><a href="/index.ejs">Strona główna</a></li>
            <li><a href="/pages/publisher/publisher-list.ejs">Wydawnictwa</a></li>
            <li><a href="/pages/creator/creator-list.ejs">Twórcy</a></li>
            <li><a href="/pages/game/list.ejs">Gry</a></li>
            <li><a href="/pages/collection/collection-list.ejs" class="active">Kolekcja</a></li>
        </ul>
    </nav>

    <main>
        <h2>Lista gier w kolekcji</h2>

        <form class="mini-form">
            <label for="game">Nazwa:</label>
            <input class="input-list" list="gameList" id="game">
            <datalist id="gameList">
                <option value="Gloomhaven"></option>
                <option value="Pandemic Legacy: Season 1"></option>
                <option value="War of the Ring: Second Edition"></option>
                <!-- Rozbudować -->
            </datalist>

            <div class="mini-form-buttons">
                <input type="submit" value="Dodaj grę do kolekcj" class="mini-form-button-submit" />
            </div>
        </form>

        <div class="table-div">
            <table class="table-list">
                <thead>
                    <tr>
                        <th scope="col">Tytuł</th>
                        <th scope="col">Twoja ocena</th>
                        <th scope="col">Średnia ocena</th>
                        <th scope="col">Ilość ocen</th>
                        <th scope="col">Akcje</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="Tytuł">Gloomhaven</td>
                        <td data-label="Twoja ocena" class="td-center">9</td>
                        <td data-label="Średnia ocena" class="td-center"><a class="link-line"
                                href="/pages/game/game-score-list.ejs">9.333</a></td>
                        <td data-label="Ilość ocen" class="td-center">3</td>
                        <td data-label="Akcje">
                            <ul class="list-actions">
                                <li>
                                    <a href="/pages/game/details.ejs" class="list-actions-button-details">Szczegóły</a>
                                </li>
                                <li>
                                    <a href="/pages/game/game-score.ejs" class="list-actions-button-score">Oceń</a>
                                </li>
                                <li>
                                    <a href="/under-construction.ejs" class="list-actions-button-delete">Usuń</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <footer>
        <a href="https://www.linkedin.com/in/lukasz-bielinski/">Łukasz Bieliński</a> s17524
    </footer>
</body>

</html>