<%- include('../../fragments/header.ejs') %>

<main>
    <h2>Szczegóły twórcy</h2>

    <form class="form">
        <label for="nick">Nick:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="nick" id="nick" value="Cephalofair">

        <label for="name">Imię:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="name" id="name" value="Isaac">

        <label for="surname">Nazwisko:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="surname" id="surname" value="Childres">

        <label for="bio">Biografia:</label>
        <textarea name="bio" id="bio" cols="30"
            rows="8">Isaac Childres jest projektantem gier i jednoosobową armią zajmującą się projektowaniem i rozwojem gier planszowych. Childres ukończył Bakersfield High School w Bakersfield w Kalifornii w 2000 roku. Studiował fizykę i dziennikarstwo na Uniwersytecie Oklahomy, a następnie uzyskał tytuł magistra i doktora fizyki na Uniwersytecie Purdue. Mieszkał w Lafayette w stanie Indiana, gdzie mieści się Uniwersytet Purdue. Najbardziej znany jest z projektowania Gloomhaven, ale zaprojektował także Forge War, Founders of Gloomhaven i inne tytuły.</textarea>

        <div class="form-buttons">
            <input type="submit" value="Zapisz" class="form-button-submit" />
            <a href="/creator/list" class="form-button-cancel">Anuluj</a>
        </div>
    </form>
</main>

<%- include('../../fragments/footer.ejs') %>