<%- include('../fragments/header.ejs') %>

<main>
    <h2>Strona główna</h2>

    <p>Donec laoreet turpis lacus, vitae condimentum nunc condimentum nec. Aenean auctor enim eu pretium congue.
        Morbi a sodales velit, at feugiat neque. Quisque gravida neque in aliquam semper. Nulla non dignissim sem.
        Donec venenatis cursus risus id feugiat. Maecenas a turpis vehicula, condimentum dui vel, cursus ligula.</p>
    <p>Donec ornare mauris non turpis aliquet eleifend. Vivamus gravida enim id lorem pharetra aliquam. Vivamus vel
        porta felis. Integer nec malesuada sapien, quis congue metus. Nullam egestas turpis dui, id vehicula nulla
        molestie ac. Integer porttitor tempor eros, et feugiat lacus porttitor sit amet. Praesent placerat eros
        nulla.</p>

    <h2>TODO</h2>
    <ul>
        <li>
            <p>Funkcjonalność 'oceń grę'</p>
        </li>
        <li>
            <p>Admin i gracz</p>
        </li>
        <li>
            <p>Sortowanie list wg wybranego kryterium</p>
        </li>
    </ul>

</main>

<%- include('../fragments/footer.ejs') %>